fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0



num2words==0.5.12

googlesearch-python==1.2.3
wikipedia==1.4.0
torch>=2.0.1,<2.1.0
accelerate==0.19.0
torchaudio>=2.0.2,<2.1.0
transformers==4.29.2
fairseq==0.12.2
speechbrain==0.5.14
nltk==3.8.1
